@media screen and (max-width: 1310px) {
  #advise {
    padding: 58px 50px 93px 50px;
  }
}
@media screen and (max-width: 1131px) {
  .detail-heading {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 1031px) {
  .slide-img {
    margin-right: 32px;
    flex: 0 0 60%;
  }

  .slide-detail {
    max-width: 396px;
    flex: 0 0 40%;
  }
  .slide-background {
    max-width: 537px;
  }
  .slide-item {
    margin-right: 60px;
  }

  .product-item.active {
    padding: 6px 14px 7px 8px;
    transform: translateX(-5%);
  }
  .product-img,
  .product-name,
  .product-key,
  .product-kind {
    margin-right: 3px;
  }
  .product-kind {
    font-size: 1.2rem;
  }
  .medic-pay__btn {
    transform: translateX(10%);
  }
  .mr-55 {
    margin-right: 55px;
  }
}
@media screen and (max-width: 1024px) {
  #advise {
    padding: 48px 40px 83px 40px;
  }

  .heading-img svg {
    display: none;
  }
  .home-content {
    margin: 60px 56px 0 56px;
  }
  .home-content .heading {
    text-align: center;
  }
  .home-content .heading h2 {
    text-align: left;
  }
  .banner {
    margin-top: 72px;
  }
  .only {
    max-width: 452px;
  }
  .extension-item {
    min-height: 437px;
    width: 360px !important;
  }
}
@media screen and (max-width: 1005px) {
  .heading h2 {
    font-size: 4.6rem;
  }
  .only {
    margin: 70px 0;
  }
}
@media screen and (max-width: 980px) {
  .banner {
    width: 850px;
  }
  .banner-content {
    margin-right: 130px;
  }
  .heading h2 {
    font-size: 4.6rem;
  }
}
@media screen and (max-width: 940px) {
  .slide-img {
    flex: 0 0 70%;
  }

  .slide-detail {
    flex: 0 0 30%;
  }
  .advise-heading {
    font-size: 2.7rem;
  }
}
@media screen and (max-width: 880px) {
  .advise-img {
    width: 100px;
    height: 100px;
  }
  .advise-heading {
    font-size: 2.5rem;
  }
  .banner {
    width: 650px;
  }
  .banner-content {
    margin-right: 80px;
  }
  .banner svg {
    margin: 32px 70px;
  }
  .only {
    margin: 50px 0;
  }
  .detail-heading {
    margin-top: 32px;
  }
}
@media screen and (max-width: 850px) {
  .multiple-items,
  .slide-item {
    display: flex;
    flex-direction: column;
  }
  .blog-content {
    font-size: 1.8rem;
  }
  .slide-item {
    margin: 0 0 30px 0;
  }
  .slide-img {
    margin-right: 0;
  }
  .slide-detail {
    margin-right: auto;
    margin-left: 40px;
  }
  .multiple-items {
    align-items: inherit;
  }
  .detail-heading {
    margin-top: 25px;
  }
  .detail-icon {
    margin-top: 32px;
    margin-bottom: 132px;
  }
  .extension-item {
    display: flex;
    flex-direction: column;
  }
  .slick-dots li button {
    font-size: 0;
    width: 1rem;
    height: 1.2rem;
    border-radius: 50%;
    outline: none;
    background-color: var(--dots-back);
    border: none;
  }
  .slick-dots li.slick-active button {
    background-color: var(--grey-color);
  }
  .slick-dots {
    position: absolute;
    display: flex;
    bottom: 0;
    transform: translateY(150%);
  }
  .slick-dots li {
    margin-right: 15px;
  }
  .blog-item {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer {
    padding: 40px 56px;
  }
  /* .medic-pay__btn {
    font-size: 1.2rem;
  } */
}

@media screen and (max-width: 800px) {
  .footer {
    padding: 40px 80px;
  }
  .banner {
    display: flex;
    text-align: center;
  }
  .banner-content {
    margin: 16px 98px 24px 0;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    text-align: left;
    width: 650px;
    padding: 16px 40px 24px 50px;
  }
  .advise-input {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: center;
  }
  .banner-content {
    margin: 16px 0 24px 0;
  }
  .banner svg {
    margin: 0 27px 0 0;
  }
}
@media screen and (max-width: 660px) {
  .footer {
    padding: 20px 40px;
  }
  .blog-item {
    background: #ffffff;

    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }
  .home-content {
    margin: 40px 0 0 0;
  }
  .home-content .heading h2 {
    margin: 20px 0;
  }
  .banner {
    width: 600px;
    flex-direction: row;
    padding: 16px 32px 16px 32px;
  }
  .banner svg {
    margin: 0;
  }
  .detail-heading {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 640px) {
  input[name="email"],
  input[name="phone"] {
    margin-right: 8px;
    width: 100%;
    margin-bottom: 16px;
  }
  .advise-input {
    display: flex;
    flex-direction: column;
  }
  .advise-img {
    grid-row-end: 2;
  }
  .medic-background {
    width: 100%;
  }
  .medic-img {
    width: 132px;
    height: 132px;
  }
  .slide-heading h3 {
    font-size: 2rem;
  }
  .medic-pay__btn {
    font-size: 1.6rem;
  }
  .type-discount {
    min-width: 150px;
  }
  .banner {
    width: 450px;
    padding: 12px 32px 24px 32px;
  }
}
@media screen and (max-width: 580px) {
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner {
    padding: 0 28px;
  }
  .banner svg {
    width: 120px;
    height: 120px;
  }
  .banner-content span {
    font-size: 2.2rem;
  }
  .home-content .heading h2 {
    text-align: center;
  }
  .detail-icon {
    margin-bottom: 50px;
  }
  .medic-pay__btn {
    transform: translateX(20%);
    width: 200px;
    font-size: 1.3rem;
  }
  .medic-img {
    width: 100px;
    height: 100px;
    margin-right: -70px;
  }
  .slide-heading h3 {
    font-size: 1.5rem;
  }
  .medic-price {
    margin-left: -50px;
  }
  .product-img {
    width: 40px;
    height: 40px;
  }
  .product-name,
  .product-key,
  .product-price {
    font-size: 1.4rem;
  }
  .product-item.active {
    padding: 6px 20px 7px 20px;
  }
  .product-img,
  .product-name,
  .product-key,
  .product-kind {
    margin-right: 5px;
  }
}
@media screen and (max-width: 530px) {
  /* HEADER */
  .header-menu__item:not(:last-child) {
    display: none;
  }
  .header-menu__item {
    margin-right: 27px;
  }
  .menu {
    font-size: 2rem;
    display: block;
  }
  .background-menu.enable {
    display: block;
  }
  .menu-icon {
    line-height: 40px;
  }
  .logo {
    flex: 1;
  }
  .home-content .heading h2 {
    font-size: 4rem;
    text-align: center;
  }
  .background-menu.enable {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--menu-back);
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  .close-menu__icon {
    position: absolute;
    top: 25px;
    right: 21px;
    margin-right: 21px;
    font-size: 2rem;
    color: var(--white-color);
  }
  .menu-list__mobile {
    flex: 1;
    text-align: center;
    margin: 40px;
  }
  .menu-link__mobile {
    color: var(--white-color);
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
  }
  .menu-item__mobile:not(:last-child) {
    margin-bottom: 68px;
  }
  .footer-menu__mobile {
    align-items: flex-end;
    background-color: var(--grey-color);
    padding: 60px 100px 40px 100px;
  }
  .footer-menu__mobile .logo span,
  .footer-menu__mobile .about span,
  .footer-menu__mobile .help span {
    color: var(--white-color);
  }
  .footer-menu__mobile .about span {
    margin-bottom: 32px;
  }
  .slogan {
    margin-bottom: 40px;
  }
  .footer-menu__mobile .slogan span {
    color: var(--grey5-color);
    font-size: 1.4rem;
    font-weight: 400;
  }
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    margin-right: 0;
    margin-bottom: 32px;
  }
  .slogan {
    margin-left: 0;
  }
}
@media screen and (max-width: 485px) {
  .footer,
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about {
    margin-right: 0;
  }
  .slogan span {
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--grey-color);
  }
  .font {
    font-size: 1.6rem;
    font-weight: 600;
  }
  .medic-img {
    width: 90px;
    height: 90px;
  }
  .slide-heading h3 {
    margin-left: 0;
  }
  .discount-text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .percent,
  .btn-medic {
    font-size: 1.5rem;
  }
  .type-discount {
    min-width: 110px;
  }
  .type-discount span {
    font-size: 1.2rem;
  }
  .banner {
    width: 350px;
    padding: 12px 20px;
  }
  .banner-content span {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
  }
  .banner svg {
    width: 104px;
    height: 104px;
  }
}
@media screen and (max-width: 450px) {
  .menu-item__mobile {
    flex: 1;
  }
  .slide-heading h3 {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .banner {
    display: flex;
    flex-direction: column;
  }
  .banner svg {
    width: 104px;
    height: 104px;
  }
  .banner-content {
    text-align: center;
  }
  .heading h2 {
    font-size: 3.2rem;
    line-height: 4.8rem;
  }
  .slide-detail {
    margin-left: 0;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .detail-desc {
    font-size: 1.6rem;
  }
  .heading p {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .detail-icon {
    margin-bottom: 32px;
  }
  .product-img {
    width: 35px;
    height: 35px;
    margin-right: 6px;
  }
  .product-name {
    margin-right: 21px;
  }
  .product-key {
    margin-right: 24px;
  }
  .product-kind {
    margin-right: 35px;
  }
  .product-name,
  .product-key,
  .product-kind,
  .product-price {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  .slide-background {
    padding: 15px;
  }
  .medic-img {
    width: 87px;
    height: 87px;
  }
  .medic-name {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .medic-price span {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .discount-text {
    font-size: 0.8rem;
  }
  .type-discount span {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }
  .medic-price {
    padding: 5px 10px;
  }
  .advise-img {
    grid-column-end: 4;
  }
  .advise-heading {
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .advise-input {
    grid-row-start: 3;
    grid-row-end: 4;
  }
  .home-content .heading h2 {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 377px) {
  .home-content .heading h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
  .home-content {
    margin: 64px 0 0 0;
  }
  .heading-btn__pad {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.4rem;
  }
  .banner {
    width: 270px;
  }
  .banner svg {
    width: 104px;
    height: 104px;
  }
  .banner-content span {
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 3.6rem;
  }
  .heading h2 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 4.8rem;
  }
  .heading p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
  }
  .slide-btn__product {
    padding: 5px 12px 7px 12px;
  }
  .product-item {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .banner-content span {
    font-size: 2rem;
  }
  .logo span {
    font-size: 2.5rem;
  }
  .header-btn__pad {
    padding: 8px 32px;
  }
  .footer-menu__mobile {
    padding: 15px 60px;
  }
}
@media screen and (max-width: 280px) {
  .galaxy-fold {
    display: block;
    background-color: var(--black-color);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .galaxy-fold h2 {
    color: var(--white-color);
  }
}
