/* HEADER  */
.background-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#header {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.logo {
  height: 40px;
  line-height: 40px;
}
.logo span {
  font-size: 3rem;
  font-weight: 900;
}
.header-menu {
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 40px;
}
.header-menu__item:not(:last-child) {
  margin-right: 72px;
}
.header-menu__link {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-color);
}
.btn-primary {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 8px;
}
.header-btn__pad {
  padding: 8px 43px;
}
.heading-btn__pad {
  padding: 12px 26px;
}

.heading h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: var(--black-color);
}
.heading p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-color);
  margin-bottom: 40px;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.banner {
  background-color: var(--blue-color);
  min-height: 224px;
  display: grid;
  align-items: center;
  border-radius: 32px;
  width: 936px;
  margin: 0 auto;
}
.banner svg {
  margin: 43px 112px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.banner-content {
  flex: 1;
  margin: 64px 211px 64px 0;
  grid-column-start: 2;
  grid-column-end: 4;
}
.banner-content span {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white-color);
  line-height: 4.8rem;
}

.only {
  max-width: 468px;
  margin: 100px 0;
}

/* SLIDE  */
.slide-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-img {
  width: 53px;
  height: 53px;
  /* margin-right: 13px; */
}
.slide-img,
.slide-detail {
  flex: 0 0 50%;
}
.slide-img {
  margin-right: 74px;
}

.slide-btn__product {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--white-color);
  padding: 14px 17px 14px 21px;
}

.icon-plus {
  margin-right: 8px;
}
.product-name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--blue-color);
  /* margin-right: 42px; */
}

.bold-16 {
  font-size: 1.6rem;

  font-weight: 700;
  line-height: 2.4rem;
  color: var(--black2-color);
}
.product-kind {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--black2-color);
  /* margin-right: 72px; */
}

.product-item:not(:last-child) {
  margin-bottom: 26px;
}

.detail-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--black-color);
}
.detail-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
}
.detail-more,
.detail-icon {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--blue-color);
}
.detail-more {
  margin-right: 20px;
}
.slide-detail {
  position: relative;
  max-width: 456px;
}
.detail-more:hover {
  border-bottom: 2px solid var(--blue-color);
}

.detail-heading {
  margin-bottom: 24px;
}
.detail-desc {
  margin-bottom: 32px;
}

input[type="number"] {
  height: 44px;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.profit-heading {
  font-size: 2.913rem;
  font-weight: 600;
  line-height: 3.9rem;
  color: var(--black2-color);
}
.profit-background {
  max-width: 570px;
}

.multiple-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-track {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* EXTENSION  */
.extension {
  margin-bottom: 150px;
}
.extension .heading {
  max-width: 456px;
}
.extension-img {
  margin-bottom: 42px;
}
.extension-img img {
  width: 186px;
  height: 186px;
  margin: 0 auto;
}
.extension-item {
  text-align: center;
  border-radius: 24px;
  padding: 48px 48px 64px 32px;
  width: calc(100% / 3 - 16px);
}
.extension-item:not(:last-child) {
  margin-right: 24px;
}
.item-1 {
  background-color: var(--exten1-back);
}
.item-2 {
  background-color: var(--exten2-back);
}
.item-3 {
  background-color: var(--exten3-back);
}
.extension-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
  margin-bottom: 18px;
}
.extension-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
}
.extension-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BLOG  */
.blog {
  margin-bottom: 72px;
}
.blog .heading {
  text-align: center;
}
.blog-content {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
}
.blog-img img {
  object-fit: contain;
}
.blog-img {
  width: 100%;
  height: 100%;
}
.blog-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-item {
  width: calc(100% / 3 - 16px);
  background-color: var(--white-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  min-height: 357px;
}
.blog-item:not(:last-child) {
  margin-right: 24px;
}
.blog-content {
  padding: 24px;
}

/* ADVISE */
#advise {
  display: grid;
  background-color: var(--advise-back);
  padding: 88px 156px 88px 156px;
  border-bottom: 2px solid #91d5ff;
  gap: 15px;
}

.advise-img {
  width: 140px;
  height: 140px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;
}
.advise-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--black-color);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
input[name="email"] {
  margin-right: 16px;
}
input[name="phone"] {
  margin-right: 24px;
}
input[name="email"],
input[name="phone"] {
  outline: none;
  height: 48px;
  line-height: 4.8rem;
  border: 1px solid #d0d4d7;
  border-radius: 8px;
  padding: 0 16px;
  width: 100%;
}

.advise-btn {
  height: 48px;
  text-align: center;
  width: 100%;
}
.btn-advise {
  line-height: 4.8rem;
  padding: 0 20px;
  display: block;
}
.advise-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
}

/* FOOTER  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}
.footer-left,
.footer-right {
  display: flex;
  align-items: baseline;
}
.slogan {
  margin-left: 17px;
}
.slogan span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}
.about {
  margin-right: 63px;
}
.font span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}

.menu {
  display: none;
}
.background-menu {
  display: none;
}
.galaxy-fold {
  display: none;
}

/* PRICE  */

.price-heading {
  text-align: center;
  margin-top: 102px;
}

.price-heading h1 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: var(--black-color);
  margin-bottom: 16px;
}
.price-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
  margin-top: 16px;
  max-width: 593px;
  margin: 0 auto 72px auto;
}
.package-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.package-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: calc(100% / 3 - 16px);
  padding: 32px 30px 40px 32px;
  background: #f7f8f9;
  border: 1.5px solid #e2e6e9;
  border-radius: 16px;
}

.package-item:not(:last-child) {
  margin-right: 16px;
}
.package-kind {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
  margin-bottom: 30px;
}
.package-price {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
}
.basic-color {
  color: var(--green-500);
}
.package-month {
  margin-bottom: 24px;
}
.package-price__old {
  padding-bottom: 40px;
}
.package-month,
.package-price__old {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--black-color);
}
.package-for {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--black-color);
  margin-bottom: 24px;
  margin-top: 32px;
  text-align: left;
}
.manage-item {
  line-height: 2.4rem;
}
.manage-item span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}
.manage-item:not(:last-child) {
  margin-bottom: 18px;
}
.manage-item {
  text-align: left;
}
.package-icon {
  font-size: 1.6rem;
  margin-right: 10px;
}
.basic-icon {
  color: var(--green-500);
}
.package-btn {
  padding: 0 90px;
  height: 48px;
  margin-top: 64px;
  line-height: 4.8rem;
}
.line-middle {
  text-decoration: line-through;
}
.border {
  border-bottom: 2px solid #e2e6e9;
  width: 88px;
  margin: 0 auto;
}
.business-color {
  color: var(--purple-color);
}
.package-manage .manage-item.business {
  display: none;
}
.package-manage.business .manage-item.business {
  display: block;
}
.business-mg {
  margin-top: 24px;
}

.package-item:hover,
.package-item.active {
  cursor: pointer;
  background-color: var(--blue-color);
}
.package-item:hover .package-kind,
.package-item:hover .package-price,
.package-item:hover .package-month,
.package-item:hover .package-price__old,
.package-item:hover .package-for,
.package-item:hover .manage-item span,
.package-item.active .package-kind,
.package-item.active .package-price,
.package-item.active .package-month,
.package-item.active .package-price__old,
.package-item.active .package-for,
.package-item.active .manage-item span {
  color: var(--white-color);
}
.package-item:hover .package-btn,
.package-item.active .package-btn {
  background-color: var(--yellow-color);
  color: var(--black-color);
}
.package-item:hover .package-icon,
.package-item.active .package-icon {
  color: var(--yellow-color);
}

#question {
  background-color: var(--grey2-color);
  margin-top: 80px;
  padding: 40px 0 48px 0;
}

.question-heading span {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var((--black-color));
}
#question .container {
  padding-right: 193px;
}
/* .question-heading,
.question-list {
  padding-right: 193px;
} */
.question-heading {
  margin-bottom: 40px;
}
.question-item + span {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
}
.show-answer {
  width: 26.67px;
  height: 26.67px;
  background-color: #9fa6ad;
  border-radius: 9px;
  text-align: center;
  cursor: pointer;
}
.open-answer,
.close-answer {
  line-height: 2.667rem;
}
.close-answer,
.open-answer {
  display: none;
  font-size: 1.8rem;
}
.show-answer.open .open-answer,
.show-answer.close .close-answer {
  display: block;
}
.show-answer.open .close-answer,
.show-answer.close .open-answer {
  display: none;
}
.question-item {
  padding: 24px 18px 24px 16px;
  border-bottom: 1.5px solid #e2e6e9;
}
.question-item span {
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
}
.question-item .answer {
  display: none;
}
.question-item.active .answer {
  display: block;
}
.question-item.active {
  background-color: var(--white-color);
}
.question-header {
  display: flex;
  align-items: center;
}
.answer {
  margin-top: 32px;
}
.answer p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/* BLOG  */
.header-blog {
  background-color: var(--grey6-color);
  text-align: center;
  padding: 32px 0 50px 0;
}
.header-blog h2 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--white-color);
}
.header-blog p {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--white-color);
}
.blog-bg {
  background-color: var(--grey8-color);
}
.blog-navbar {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  -webkit-overflow-scrolling: touch; /* [3] */
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 0 16px;
}
.navbar-item.active {
  color: var(--black-color);
  border-bottom: 4px solid var(--blue-color);
}
.lh-4 {
  line-height: 4rem !important;
}
.navbar-item {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 6.4rem;
  color: var(--grey7-color);
  height: 64px;
}
.navbar-item:not(:last-child) {
  margin-right: 48px;
}
.navbar-item:hover {
  color: var(--black-color);
  cursor: pointer;
}
.news {
  display: grid;
  height: 100%;
}
.news-list {
  padding-top: 24px;
}
.news-item:not(:last-child) {
  margin-bottom: 16px;
}
.news-item {
  min-height: 184px;
  max-width: 935px;
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  background-color: var(--white-color);
  overflow: hidden;
}
.news-img {
  width: 263px;
  height: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
}

.news-content {
  padding: 24px;
  grid-column-start: 2;
  grid-column-end: 4;
}
.news-heading {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: var(--black-color);
  margin-bottom: 16px;
}
.news-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
}
.news-btn {
  text-align: center;
  padding: 40px 0;
}
.news-btn a {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2.4rem;
  padding: 8px 40px;
  border: 1px solid #1890ff;
  border-radius: 6px;
  color: var(--blue-color);
}
.footer-bt {
  border-top: 2px solid #91d5ff;
}

/* BLOG DETAIL */
.blog-detail__social {
  position: absolute;
  top: 276px;
  margin: 0 9px 0 75px;
}
.facebook,
.zalo {
  width: 56px;
  height: 40px;
  margin-bottom: 12px;
}
.social-icon {
  width: 100%;
  height: 100%;
}
.blog-detail__kind {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--blue-color);
  margin-top: 64px;
}

.blog-detail__heading h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: var(--black-color);
  max-width: 744px;
}
.blog-detail__heading img {
  height: 540px;
}
.blog-author {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
  margin-right: 60px;
}
.blog-date {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}
.full-blog-detail .blog-content {
  padding: 0;
}
.blog-content p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--black-color);
  max-width: 744px;
  margin: 0 auto;
}
.blog-relate {
  margin-bottom: 80px;
}
.blog-detail__published {
  display: flex;
  align-items: center;
  max-width: 744px;
  margin: 40px auto 40px auto;
}
.relate-img {
  height: 185px;
}
.heading span {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 3.6rem;
  color: var(--black-color);
}
.relate-content .heading p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
  margin: 8px 0 0 0;
}
.relate-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.relate-item:not(:last-child) {
  margin-right: 24px;
}
.relate-item {
  width: calc(100% / 3 - 16px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  overflow: hidden;
}
.relate-content {
  padding: 16px 16px 20px 16px;
}
.footer-blog-detail {
  border-top: 2px solid #91d5ff;
}
.relate-heading h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--black-color);
}
.relate-heading {
  margin-top: 132px;
  margin-bottom: 40px;
}
.m-0 {
  margin: 0;
}
#header.m-0 {
  margin: 0;
}
.blog-header {
  height: 72px;
}
.logo,
.header-menu {
  line-height: 7.2rem;
}
.header-blog h2 {
  margin-bottom: 4px;
}
.lh-72 {
  line-height: 7.2rem;
}
.blog-detail-header {
  height: 72px;
}
