/* HEADER  */
.background-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
#header {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.background {
  position: absolute;
  top: 0;
  z-index: -1;
}
.logo {
  height: 40px;
  line-height: 40px;
}
.logo span {
  font-size: 3rem;
  font-weight: 900;
}
.header-menu {
  display: flex;
  justify-content: center;
  height: 40px;
  line-height: 40px;
}
.header-menu__item:not(:last-child) {
  margin-right: 72px;
}
.header-menu__link {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--black-color);
}
.btn-primary {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: var(--blue-color);
  color: var(--white-color);
  border-radius: 8px;
}
.header-btn__pad {
  padding: 8px 43px;
}
.heading-btn__pad {
  padding: 12px 26px;
}

.heading h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 7.2rem;
  color: var(--black-color);
}
.heading p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--grey-color);
  margin-bottom: 40px;
}
.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.banner {
  background-color: var(--blue-color);
  min-height: 224px;
  display: grid;
  align-items: center;
  border-radius: 32px;
  width: 936px;
  margin: 0 auto;
}
.banner svg {
  margin: 43px 112px;
  grid-column-start: 1;
  grid-column-end: 2;
}
.banner-content {
  flex: 1;
  margin: 64px 211px 64px 0;
  grid-column-start: 2;
  grid-column-end: 4;
}
.banner-content span {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--white-color);
  line-height: 4.8rem;
}

.only {
  max-width: 468px;
  margin: 100px 0;
}

/* SLIDE  */
.slide-item {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.product-img {
  width: 53px;
  height: 53px;
  /* margin-right: 13px; */
}
.slide-img,
.slide-detail {
  flex: 0 0 50%;
}
.slide-img {
  margin-right: 74px;
}

.slide-btn__product {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--white-color);
  padding: 14px 17px 14px 21px;
}

.icon-plus {
  margin-right: 8px;
}
.product-name {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--blue-color);
  /* margin-right: 42px; */
}

.bold-16 {
  font-size: 1.6rem;

  font-weight: 700;
  line-height: 2.4rem;
  color: var(--black2-color);
}
.product-kind {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--black2-color);
  /* margin-right: 72px; */
}

.product-item:not(:last-child) {
  margin-bottom: 26px;
}

.detail-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--black-color);
}
.detail-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
}
.detail-more,
.detail-icon {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--blue-color);
}
.detail-more {
  margin-right: 20px;
}
.slide-detail {
  position: relative;
  max-width: 456px;
}
.detail-more:hover {
  border-bottom: 2px solid var(--blue-color);
}

.detail-heading {
  margin-bottom: 24px;
}
.detail-desc {
  margin-bottom: 32px;
}

input[type="number"] {
  height: 44px;
  outline: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.profit-heading {
  font-size: 2.913rem;
  font-weight: 600;
  line-height: 3.9rem;
  color: var(--black2-color);
}
.profit-background {
  max-width: 570px;
}

.multiple-items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-track {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

/* EXTENSION  */
.extension {
  margin-bottom: 150px;
}
.extension .heading {
  max-width: 456px;
}
.extension-img {
  margin-bottom: 42px;
}
.extension-img img {
  width: 186px;
  height: 186px;
  margin: 0 auto;
}
.extension-item {
  text-align: center;
  border-radius: 24px;
  padding: 48px 48px 64px 32px;
  width: calc(100% / 3 - 16px);
}
.extension-item:not(:last-child) {
  margin-right: 24px;
}
.item-1 {
  background-color: var(--exten1-back);
}
.item-2 {
  background-color: var(--exten2-back);
}
.item-3 {
  background-color: var(--exten3-back);
}
.extension-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
  margin-bottom: 18px;
}
.extension-desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: var(--grey-color);
}
.extension-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BLOG  */
.blog {
  margin-bottom: 72px;
}
.blog .heading {
  text-align: center;
}
.blog-content {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--black-color);
}
.blog-img img {
  object-fit: contain;
}
.blog-img {
  width: 100%;
  height: 100%;
}
.blog-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-item {
  width: calc(100% / 3 - 16px);
  background-color: var(--white-color);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  min-height: 357px;
}
.blog-item:not(:last-child) {
  margin-right: 24px;
}
.blog-content {
  padding: 24px;
}

/* ADVISE */
#advise {
  display: grid;
  background-color: var(--advise-back);
  padding: 88px 156px 88px 156px;
  border-bottom: 2px solid #91d5ff;
  gap: 15px;
}

.advise-img {
  width: 140px;
  height: 140px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  margin: auto;
}
.advise-heading {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.8rem;
  color: var(--black-color);
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
input[name="email"] {
  margin-right: 16px;
}
input[name="phone"] {
  margin-right: 24px;
}
input[name="email"],
input[name="phone"] {
  outline: none;
  height: 48px;
  line-height: 4.8rem;
  border: 1px solid #d0d4d7;
  border-radius: 8px;
  padding: 0 16px;
  width: 100%;
}

.advise-btn {
  height: 48px;
  text-align: center;
  width: 100%;
}
.btn-advise {
  line-height: 4.8rem;
  padding: 0 20px;
  display: block;
}
.advise-input {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  align-items: center;
}

/* FOOTER  */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
}
.footer-left,
.footer-right {
  display: flex;
  align-items: baseline;
}
.slogan {
  margin-left: 17px;
}
.slogan span {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}
.about {
  margin-right: 63px;
}
.font span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--black-color);
}

.menu {
  display: none;
}
.background-menu {
  display: none;
}
.galaxy-fold {
  display: none;
}
